<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        This is a test page.
         <br>Enter your First name: <br><input type ="text" ng-model="firstName" ng-required="true" >
         <br>Enter your last name: <br><input type ="text" ng-model="lastName" ng-required="true">
        <br> Your full name is {{firstName}} {{lastName}}
    </body>
    <script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
});
</script>
</html>